@charset "utf-8";


html {
    background-color: hsl(188, 59%, 58.4%);
}

body {
    color: rgb(01,35,20);
    background-color: lightgray;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
}

h1 {
    color: white;
    background-color: rgb(70, 125, 151);
}

header {
    color: white;
    background-color: rgb(145, 156, 174)
}

nav > ul {
    /* line-height: 1.5em; */
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
}
nav > a {
    text-decoration: none;
}

nav.horizontalNavigation > a {
    display: block;
    text-align: center;
}

 nav.horizontalNavigation li {
    display: block;
    width: 33%;
    float: left;
}

section {
    color:antiquewhite;
    background-color: rgb(30,100,150)
}

section#leftColumn {
    clear: left;
    float: left;
    width: 49.355%;
    padding-right: 10px;
}

section#rightColumn {
    float: left;
    width: 49.355%;
}


footer {
    clear: left;
    color:bisque;
    background-color: rgb(70,170,80)
}
